<style>
#affix { display: block; position: fixed; top: 0;}
</style>

<div class="page-content clear-top">

<br><br><br>

  <h2>Job Listing</h2>
  <% @jobs.each do |job| %>
    <div class="job">
      <h3 class="job-company"><%= link_to job['company'], job['url'], target: '_blank' %></h3>
      <p class="job-title"><strong><%= job['jobtitle'] %></strong></p>
      <p class="job-snippet"><%= job['snippet'] %></p>
    </div>
  <% end %>
  <div class="center-text"><%= will_paginate @paginator, renderer: BootstrapPagination::Rails %></div>
</div>

<script>
$(document).ready(function(){
	var $affixTop = $('#affix');

	// hide 'loading jobs...' notice when job listing has loaded
	$('#job_loading_notice').hide();
});
</script>




